.container {
    margin: 0 auto;
    @include pc {
        padding-top: vw_pc(100);
        margin-bottom: vw_pc(100);
        width: vw_pc(800);
    }
    @include mobile {
        padding-top: vw_mobile(100);
        margin-bottom: vw_mobile(100);
        width: 100%;
    }
    .titleArea {
        display: block;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile {
            display: block;
        }
        .image {
            display: block;
            border-radius: 50%;
            overflow: hidden;
            @include pc {
                width: vw_pc(70);
                height: vw_pc(70);
            }
            @include mobile {
                margin: 0 auto;
                margin-bottom: vw_mobile(40);
                width: vw_mobile(100);
                height: vw_mobile(100);
            }
        }
        .text {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            @include pc {
                width: vw_pc(300);
            }
            .title {
                width: 100%;
                font-weight: bold;
                text-align: center;
                @include pc {
                    @include font-size_pc(20);
                }
                @include mobile {
                    @include font-size_mobile(20);
                }
            }
            .subtitle {
                display: block;
                width: 100%;
                text-align: center;
                @include pc {
                    margin-top: vw_pc(30);
                    @include font-size_pc(14);
                }
                @include mobile {
                    margin-top: vw_mobile(20);
                    @include font-size_mobile(16);
                }
            }
        }
    }
    .content {
        @include pc {
            margin-top: vw_pc(50);
        }
        @include mobile {
            margin-top: vw_mobile(50);
        }
    }
}
