.container {
  // background-color: red;
  .goodsList {
    justify-content: space-between;
    display: flex;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar{
      display: none;
    }
    .item {
      position: relative;
      @include mobile {
        width: 100%;
        margin-right: vw_mobile(20);
      }
      @include pc {
        width: 28%;
      }
      .imageWrapper {
        position: relative;
        @include mobile {
          width: vw_mobile(280);
          height: vw_mobile(280);
        }
        @include pc {
          width: vw_pc(270);
          height: vw_pc(270);
        }
      }
      .title {
        line-height: 1.4;
        color: $gray;
        @include mobile {
          @include font-size_mobile(16);
          padding: vw_mobile(10) 0;
        }
        @include pc {
          padding: vw_pc(10) 0;
          @include font-size_pc(20);
        }
      }
      .price {
        line-height: 1.4;
        color: $gray;
        @include mobile {
          @include font-size_mobile(16);
        }
        @include pc {
          @include font-size_pc(20);
        }
      }
    }
  }
}
