.container {
    transition: color 0.5s, opacity 0.5s, background-color 0.5s;
    display: flex;
    .sideBar {
        @include mobile {
            display: none;
        }
        @include pc {
            width: vw_pc(140);
        }
    }
    .content {
        position: relative;
        @include mobile {

        }
        @include pc {
            width: calc(100vw - vw_pc(140));
        }
        .top {
            width: 100%;
            height: 100vh;
        }
    }
}


