.container {
    .items {
        @include mobile {
            margin-top: vw_mobile(40);
        }
        @include pc {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .item {
            .imageWrapper {
                border-radius: 1rem;
                overflow: hidden;
                background-color: $white;
                position: relative;
                @include mobile {
                    width: 100%;
                    height: vw_mobile(200);
                    margin-bottom: vw_mobile(20);
                }
                @include pc {
                    margin-bottom: vw_pc(30);
                    width: vw_pc(420);
                    height: vw_pc(200);
                }
            }
        }
    }
}
